<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECM Dashboard</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </style>
</head>

<body>
    <div id="main-div">
        <h1>ECM Dashboard</h1>
        <p>Displays readouts of an ECM simulation in a realistic way</p>

        <br><br><br>
        <form id="cruise-form">
            <label for="cruise-enable">Cruise Enabled: </label>
            <input id="cruise-enable" name="cruise-enable" type="checkbox"><br>
            <label for="cruise-input">Cruise Speed: </label>
            <input id="cruise-input" name="cruise-input" type="text" style="width: 50px;"><br>
            <input type="submit" value="Change"><br>
        </form>
        <p class="gauge-value" id="accel-val">75%</p>
        <p class="gauge-value" id="throttle-val">25%</p>
        <p class="gauge-value" id="vehicle-speed-val">0 mph</p>
        <p class="gauge-value" id="afr-val">00.00</p>
        <h4 class="gauge-label" style="left: 12px;">Accelerator</h4>
        <h4 class="gauge-label" style="left: 138px;">Throttle</h4>
        <h4 class="gauge-label" style="left: 354px;">Vehicle Speed</h4>
        <h4 class="gauge-label" style="left: 744px;">Air-Fuel Ratio</h4>
        <progress class="pos-bar" id="accel-bar" max=100 min=0 value=75 style="left: -20px;"></progress>
        <progress class="pos-bar" id="throttle-bar" max=100 min=0 value=25 style="left:96px;"></progress>
        <input id="accel-range" type="range" min="0" max="100" value="0" oninput="updateAccel(this.value);">
        <canvas id="gauge-canvas" width="380" height="240" style="margin-left: 220px;"></canvas>
        <canvas id="gauge2-canvas" width="380" height="240"></canvas>
        <div id="dtc-div">
        </div>
    </div>

    <footer>
        <p>Author: Jackson Harmer<br>
            <a href="mailto:jharmer@umich.edu">jharmer@umich.edu</a>
        </p>
    </footer>
</body>

</html>